NEXT_PUBLIC_SUPABASE_URL=https://SEU-PROJETO.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=SUA_ANON_KEY
NEXT_PUBLIC_STORE_LATITUDE=-15.000000
NEXT_PUBLIC_STORE_LONGITUDE=-47.000000
NEXT_PUBLIC_ALLOWED_RADIUS_METERS=120
NEXT_PUBLIC_STORE_NAME=Shell Café
